.profile {
  width: 375px;
  /* height: 500px; */
  margin: 20px auto;
  padding-top: 46px;
  border-radius: 5px;
  font-size: 18px;
  border: 1px solid rgb(224, 224, 224);
}
/* .description {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.avatar {
  display: block;
  margin: 0 auto 46px;
  width: 145px;
  height: 145px;
  border-radius: 50%;
  outline: 1px solid rgb(158, 156, 156);
}

.name {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

.tag {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.location {
  margin-top: 0;
  margin-bottom: 48px;
  text-align: center;
}

.stats {
  display: flex;
  margin: 0;
  padding: 0;
  border-top: 1px solid rgb(158, 156, 156);
  background-color: #eeeeee;
  list-style: none;
}
.statsLi {
  flex-grow: 0;
  flex-basis: calc(100% - 2px / 3);
  padding: 28px 0 34px 0;
  border-right: 1px solid rgb(158, 156, 156);
}

.statsLiLastChild {
  border-right: none;
}

.label {
  display: block;
  margin-bottom: 4px;
  text-align: center;
}

.quantity {
  display: block;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
